In [1]:
import pandas as pd 
import matplotlib as plt
import numpy as np 
import yfinance as yf
import math
import datetime
import os

In [2]:
# Downloading the csv data of Microsoft and Apple
# ticker_symbol = "MSFT"
# ticker_symbol = "AAPL"
# ticker_symbol = "GOOGL"
ticker_symbol = "HE"


stock_data = yf.download(ticker_symbol, start="2023-01-01", end="2024-01-01")
desired_directory = "C:/Users/hriti/Desktop/utility"  # Replace with your desired directory path
file_name = "Hawaiian Electric.csv"

os.makedirs(desired_directory, exist_ok=True)

file_path = os.path.join(desired_directory, file_name)

stock_data.to_csv(file_path, index=True)

saved_data = pd.read_csv(file_path)
print(saved_data.head())

[*********************100%***********************]  1 of 1 completed

         Date       Open       High        Low      Close  Adj Close  Volume
0  2023-01-03  41.889999  42.209999  41.369999  41.939999  40.153084  293900
1  2023-01-04  42.099998  42.869999  41.860001  42.770000  40.947727  485700
2  2023-01-05  42.439999  42.650002  41.419998  41.840000  40.057350  524400
3  2023-01-06  42.340000  43.000000  42.299999  42.639999  40.823261  339600
4  2023-01-09  42.599998  42.799999  42.349998  42.450001  40.641354  415800

In [3]:
df1 = pd.read_csv("Hawaiian Electric.csv")
df1

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-03,41.889999,42.209999,41.369999,41.939999,40.153084,293900
1,2023-01-04,42.099998,42.869999,41.860001,42.770000,40.947727,485700
2,2023-01-05,42.439999,42.650002,41.419998,41.840000,40.057350,524400
3,2023-01-06,42.340000,43.000000,42.299999,42.639999,40.823261,339600
4,2023-01-09,42.599998,42.799999,42.349998,42.450001,40.641354,415800
...,...,...,...,...,...,...,...
245,2023-12-22,13.990000,14.170000,13.840000,13.950000,13.950000,1211000
246,2023-12-26,14.000000,14.130000,13.910000,14.050000,14.050000,1620000
247,2023-12-27,14.090000,14.550000,13.860000,14.020000,14.020000,3906500
248,2023-12-28,13.930000,14.380000,13.890000,14.370000,14.370000,2317600
249,2023-12-29,14.260000,14.300000,14.000000,14.190000,14.190000,1916500

In [4]:
df1['Close'].max()

43.45000076293945

In [5]:
df1['Close'].min()

9.65999984741211